/*
 * Design
 */
#floorplanner {
  position: relative;
  height: 300px;
  width: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

#floorplanner-controls {
  position: absolute;
  left: 0;
  top: 0;
  /*margin: 20px 0;*/
  margin: 20px; margin-bottom: 0; /* Corrected for disabled padding */
  /*padding: 0 20px; */ /* Disabled: Padding prob also blocks interactions */
  /*width: 100%;*/ /* Disabled: Was blocking large portion of page */
}

#draw-walls-hint {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.50);
  color: #ffffff;
  padding: 5px 10px;
  z-index: 10;
  display: none;
  pointer-events: none; /* Added: Disallow text selection so we can draw under it */
}
